*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    border: solid;
    border-color: blueviolet;
    text-align: center;
    margin: 0 0 1em 0;
}
.input-section{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    border: solid;
    border-color: aquamarine;
}

.text-div{
    display: flex;
    flex-direction: column;
    padding: 1em;

}
.text-input{
    margin: 0.3em;
}

.radio-div{
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    padding: 0.2em 1em 1em 1.3em;
    justify-content: center;
}
.radioBtn{
   padding: 1em;
}

.buttons-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10em 1em 10em;
    
}

button{
    margin:0.2em ;
    
}

.library-section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    border: solid;
    border-color: aquamarine;
    justify-content: center;
    padding: 1em;
}
.container{
    max-width: max-content;
    text-align: center;
    padding: 0.3em;
    border: solid;
    border-color: aliceblue;
}

.deleteBtn{
    margin-top: 0.3em;
}
