
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-general: 'PT Serif', serif;
    --font-size-general: 3rem;
}

.game{
    margin: 0 auto;
    margin-top: 3em;
    display: grid;
    border: solid;
    border-color: blue;
    max-width: 60%;
    height:500px;
    grid-template-areas: 
    "lt mt rt"
    "lm mm rm" 
    "lb mb rb";
    padding: 1em;
    font-size: var(--font-size-general);
}

.box-lt{
    grid-area: "lt";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
    
    
}

.box-mt{
    grid-area: "mt";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
}

.box-rt{
    grid-area: "rt";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
}

.box-lm{
    grid-area: "lm";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
}

.box-mm{
    grid-area: "rt";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
}

.box-rm{
    grid-area: "lm";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
}

.box-lb{
    grid-area: "lm";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
}

.box-mb{
    grid-area: "rt";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
}

.box-rb{
    grid-area: "lm";
    border: solid;
    border-color: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    font-size: var(--font-size-general);
}